<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>&lt;html&gt;&lt;body&gt;You are being &lt;a href="https://raw.githubusercontent.com/MailCore/mailcore2/master/LICENSE"&gt;redirected&lt;/a&gt;.&lt;/body&gt;&lt;/html&gt;</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
