<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Black-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Black-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Black-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Black-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Black-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen_LightBlue-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen_LightBlue-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen_LightBlue-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen_LightBlue-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen_LightBlue-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen_LightBlue-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen_LightBlue-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen_LightBlue-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen_LightBlue-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen_LightBlue-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>BlueGreen_LightBlue-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueGreen_LightBlue-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Purple-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Purple-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Purple-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Purple-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Purple-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Purple-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Purple-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Purple-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Purple-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Purple-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Purple-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Purple-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Yellow-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Yellow-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Yellow-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Yellow-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Yellow-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Yellow-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Yellow-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Yellow-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Yellow-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Yellow-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue_Yellow-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue_Yellow-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green_Yellow-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green_Yellow-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green_Yellow-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green_Yellow-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green_Yellow-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green_Yellow-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green_Yellow-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green_Yellow-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green_Yellow-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green_Yellow-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green_Yellow-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green_Yellow-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue_Orange-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue_Orange-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue_Orange-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue_Orange-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue_Orange-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue_Orange-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue_Orange-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue_Orange-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue_Orange-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue_Orange-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightBlue_Orange-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightBlue_Orange-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightPink-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightPink-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightPink-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightPink-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightPink-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightPink-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightPink-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightPink-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightPink-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightPink-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>LightPink-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightPink-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink_Green-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink_Green-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink_Green-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink_Green-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink_Green-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink_Green-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink_Green-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink_Green-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink_Green-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink_Green-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink_Green-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink_Green-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Blue-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Blue-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Blue-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Blue-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Blue-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Blue-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Blue-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Blue-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Blue-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Blue-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Blue-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Blue-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Pink-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Pink-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Pink-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Pink-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Pink-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Pink-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Pink-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Pink-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Pink-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Pink-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Red_Pink-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red_Pink-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow-Heart-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-Heart-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow-Heart-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-Heart-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow-Wing-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-Wing-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow-Wing-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-Wing-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow-Wings-Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-Wings-Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow-Wings-White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow-Wings-White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Black-Wings-Black</string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Black-Wings-Black</string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Used to call the camera.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to unlock.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to use the photo app to save photos.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Top</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
